{% if app.user.isLoggedIn() %}
    {% do app.redirect('/account') %}
{% endif %}

{% extends "/_layouts/theme.html.twig" %}

{% set title = 'Reset password sent' %}
{% block title %}{{title}}{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumbs breadcrumb">
        <li><a href="{{app.url}}">Home</a></li>
        <li><a href="{{app.url}}/account">Account</a></li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block content %}
    <h1>{{ title|title }}</h1>
    <p>An email has been sent to the specified address. Please follow the instructions provided in the email to reset your password.</p>
    
{% endblock %}