{% set order = api.get('/order/' ~ order_id) %}
{% set items = api.get('/orderitem', {query:{'order_id':order_id}}) %}
{% set product_ids = items|values_in('product_id') %}
{% set products = api.get('/product',{query:{id:{'$in':product_ids}}})|group_by('id') %}
{% set shipping_method = api.get('/shippingmethod/' ~ order.shipping_method) %}
{# Variables passed in: order_id #}
<table border="0" cellpadding="0" cellspacing="0" width="640" style="color: #555555; font-family: helvetica, arial, sans-serif;">
	<!-- Begin email header -->
	<tr>
		<td>
			{% include 'email/core/header.html.twig' %}
		</td>
	</tr>
	<!-- End email header -->
	<!-- Begin title -->
	<tr>
		<td style="padding:20px 20px 10px 20px; vertical-align:top;">
			<h1 style="color: #333333; font-size: 36px; line-height: 46px;">
				<a href="{{app.live_url}}/account/order/{{ order.order_number }}" style="text-decoration:none; color:#333333;">
					Thank you again for your order from {{ app.params['site']['title'] }}!
				</a>
			</h1>
			<p style="font-size: 14px; line-height: 22px;">
				Order ID: {{ order.order_number }}
			</p>
			<p style="font-size: 14px; line-height: 22px;">
				Your order has shipped
			</p>
		</td>
	</tr>
	<!-- End title -->
	<!-- Begin shipping / delivery -->
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="640" style="background-color: #ebebeb; color: #555555; font-family: helvetica, arial, sans-serif; padding: 20px;">
				<tr>
					<td style="vertical-align: top;">
						<h2 style="color: #E16C25; font-size: 18px; margin: 0; padding-bottom: 10px; text-transform: uppercase;">
							Shipping Address
						</h2>
						<p style="font-size: 14px; line-height: 21px; font-weight: 400; margin: 0;">
							{{ order.shipping_first_name }} {{ order.shipping_last_name }} <br>
							{% if order.giftlist_present is empty %}<br>
							{{ order.shipping_street_line1}} {{ order.shipping_street_line2}}<br>
							{{ order.shipping_city }}, {{ order.shipping_state }} {{ order.shipping_zip }} <br>
							{{ order.shipping_country }}<br>
							{{ order.shipping_phone_number }}<br>
							{% endif %}
						</p>
					</td>
					<td style="vertical-align: top;">
						<h2 style="color: #E16C25; font-size: 18px; margin: 0; padding-bottom: 10px; text-transform: uppercase;">
							Delivery Method
						</h2>
						<p style="font-size: 14px; line-height: 22px; margin: 0;">
							Using {{ shipping_method.name }} <br>
							{% for item in items %} <br>
							{% if item.status == 'shipped' %}
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- End shipping / delivery -->
	<!-- Begin products -->
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="640" style="color: #555555; font-family: helvetica, arial, sans-serif; padding: 20px;">
				<tr>
					<td style="border-bottom: 1px solid #CCCCCC; padding-bottom: 10px; vertical-align: top;">
						<h2 style=" font-size: 18px; margin: 0; text-transform: uppercase;">
							Products
						</h2>
					</td>
				</tr>
				<tr>
					<td style="border-bottom: 1px solid #cccccc; padding-bottom: 10px; padding-top: 10px; vertical-align: top;">
						<p style="font-size: 14px; line-height: 22px; margin: 0;">
							Status: {{ item.status }} <br>
							URL: {{app.live_url}}{{products[item.product_id].0.url}} <br>
							SKU: {{item.sku}} <br>
							Item name: {{ item.name }} <br>
							Quantity: {{ item.quantity }} <br>
							Tracking number: {{ item.tracking_number }} <br>
							{% endif %}
							{% endfor %}
						</p>
					</td>
				</tr>
				<tr>
					<td style="padding-top: 10px; vertical-align: top;">
						<p style="font-size: 14px; line-height: 22px; margin: 0;">
							<span class="font-weight: 700;">Please Note:</span> If your order was placed after-hours or on the weekend your tracking number will not be active until the next business day when the package is picked up by the carrier.
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- End products -->
	<!-- Begin thank you -->
	<tr>
		<td style="padding: 20px; vertical-align:top;">
			<p style="font-size: 14px; line-height: 22px; margin: 0;">
				Thank you for shopping with us.
			</p>
		</td>
	</tr>
	<!-- End thank you -->
	<!-- Begin email footer -->
	<tr>
		<td>
			{% include 'email/core/footer.html.twig' %}
		</td>
	</tr>
	<!-- End email footer -->
</table>