<div class="row">
    {# Beging product images #}
    <div id="product-images" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        {# Begin main image #}
        {% set main_image_id = product.images.0.id is not empty ? product.images.0.id : parent.images.0.id %}
        {% set main_image_id = main_image_id is empty ? 'default' : main_image_id %}
        <div id="image-main">
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <span class="helper hidden-xs"></span>
                        <div id="main-product-video" style="display:none"></div>
                        <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" id="main-product-image" class="img-responsive" src="{{app.image.getImageUrl("product","standard",main_image_id) }}" data-image-zoom="{{app.image.getImageUrl("product","large",main_image_id) }}" alt="" />
                    </div>
                </div>
            </div>
        </div>
        {# Begin main image #}
        {# Begin image carousel #}
        {% if product.images is not empty or product.videos is not empty %}
        <div id="image-carousel" class="hidden-xs row">
            <div class="image-carousel">
                <div id="image-carousel-{{product.id}}" class="carousel">
                    <div>
                        <div class="item active">
                            {% for image in product.images %}
                            {% set name = image.name is not empty ? image.name : product.name %}
                            <div class="col-sm-2">
                                <div class="thumbnail" data-tooltip="" data-toggle="tooltip" data-original-title="{{ name }}">
                                    <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" class="" src="{{app.image.getImageUrl("product","thumbnail",image.id) }}" data-image-swap="main-product-image" data-image-swap-src="{{app.image.getImageUrl("product","standard",image.id) }}"  data-image-swap-zoom="{{app.image.getImageUrl("product","large",image.id) }}" alt="" />
                                </div>
                            </div>
                            {% endfor %}
                            {% if product.videos is not empty %}
                            {% do app.asset.js(app.url_asset ~ '/js/video-player.js') %}
                            {% for video in product.videos %}
                            <div class="col-sm-2">
                                <div class="thumbnail video" data-video-src="{{ video }}" data-tooltip="" data-toggle="tooltip" data-original-title="">
                                    <i class="video-icon fa fa-play-circle"></i><img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" src="">
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {# End image carousel #}
    </div>
    {# End product images #}
    {# Begin Product Details #}
    <section id="product-details" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-12">
                {# Begin Product Heading Group #}
                <div class="row">
                    <div class="col-md-12">
                        <header>
                            <div class="brand">
                                <a href="{{app.url}}/brand/{{product.brand|url_encode}}">{{product.brand}}</a>
                            </div>
                            <h2 class="name">{{product.title}}</h2>
                        </header>
                    </div>
                </div>
                {# End Product Heading Group #}
                {# Begin review stars #}
                {% set review_score = product.product|average('review_score') %}
                {% if review_score > 0 %}
                <ul class="reviews">
                    <li class="stars">
                        <a onclick="$('.nav-tabs a:last').tab('show')" href="#reviews">{{ base.rating( review_score ) }}</a>
                    </li>
                    <li class="average">
                        <a onclick="$('.nav-tabs a:last').tab('show')" href="#reviews">{{ (review_score * 5)|number_format(1) }} {% if reviews.num_total %}({{ reviews.num_total }}){% endif %}</a>
                    </li>
                    <li class="submit">
                        <a href="{{ app.url }}/review/id/{{product.id}}">Write a review</a>
                    </li>
                </ul>
                {% endif %}
                {# End review #}
                {# Begin Product Prices #}
                {% if product.variant[0].price > 0 %}
                <div class="row">
                    <div class="col-md-12">
                        {% set stock_description = product.variant[0].inventory_quantity > 0 ? 'In Stock' :  product.variant[0].inventory_shipping_estimate is not empty ? product.variant[0].inventory_shipping_estimate : '' %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="price">{{ prod.price(product.variant[0].price) }}</div>
                                <div class="stock">{{stock_description}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {# Begin pricing #}
                                <ul class="pricing">
                                    {# Begin regular price #}
                                    {% if product.variant[0].price != product.variant[0].compare_price and product.variant[0].compare_price is not empty %}
                                    <li class="regular">
                                        Compare at {{ prod.price(product.variant[0].compare_price) }}
                                    </li>
                                    {% endif %}
                                    {# End regular price #}
                                    {# Begin percent off #}
                                    {% if product.variant[0].save_price > 1 %}
                                    <li class="percent">
                                        Save up to {{ prod.saveprice(product.variant[0].save_price ) }} {{ prod.savepercent(product.variant[0].save_percent) }}
                                    </li>
                                    {% endif %}
                                    {# End percent off #}
                                    {# Begin price per month #}
                                    {% if product.variant[0].price >= 100 %}
                                    <li class="per-month">
                                        <span data-tooltip data-toggle="tooltip" data-original-title="Spread payments over six months by selecting &quot;Checkout with Paypal&quot; on the Shopping Cart page. Then log in and apply for a &quot;Bill Me Later&quot; account.">
                                            {{ prod.billmelater(product.variant[0].price) }}
                                        </span>
                                    </li>
                                    {% endif %}
                                    {# End price per month #}
                                </ul>
                                {# End pricing #}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {# End Product Prices #}
                {# Begin actions desktop #}
                {% if app.user.id is not empty %}
                {% set registries = api.get('/registry', {query:{customer_id:app.user.id}}) %}
                {% if registries is not empty %}
                {% set registry_ids = [] %}
                {% for registry in registries %}
                {% set registry_ids = registry_ids|merge([registry.id]) %}
                {% endfor %}
                {% set items_in_registry = api.get('/registryitem', {query:{registry_id:{'$in':registry_ids},product_id:product.id}}) %}
                {% endif %}
                {% set wishlists = api.get('/wishlist', {query:{customer_id:app.user.id}}) %}
                {% if wishlists is not empty %}
                {% set wishlist_ids = [] %}
                {% for wishlist in wishlists %}
                {% set wishlist_ids = wishlist_ids|merge([wishlist.id]) %}
                {% endfor %}
                {% set items_in_wishlist = api.get('/wishlistitem', {query:{wishlist_id:{'$in':wishlist_ids},product_id:product.id}}) %}
                {% endif %}
                {% endif %}
                {% if product.variant[0].price > 0 %}
                <form method="post" id="productForm" action="{{ app.url }}/product/route">                        
                    {% if product.variant[0]['inventory_quantity'] is defined and product.variant[0]['inventory_minimum_quantity'] is defined and
                    product.variant[0]['inventory_policy'] is defined and (product.variant[0]['inventory_policy'] == 'continue' or
                    product.variant[0]['inventory_quantity'] > product.variant[0]['inventory_minimum_quantity'] ) %}
                    <div class="actions hidden-sm hidden-xs row">
                        {# Begin product quantity #}
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="quantity-input-group">
                                    <label for="quantity-selector" class="control-label">Qty</label>
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button class="btn btn-neutral btn-remove" type="button"><i class="fa fa-minus"></i></button>
                                        </div>
                                        <input class="form-control quantity-selector" type="text" value="1" maxlength="2" placeholder="1" name="items[{{product.variant[0].id}}]">
                                        <div class="input-group-btn">
                                            <button class="btn btn-neutral btn-add" type="button"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# End product quantity #}
                        {# Begin add to cart button #}
                        <div class="form-group">
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-block btn-cart" name="action" value="cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Add to Cart</span>
                                </button>
                            </div>
                            {% endif %}
                            {% include "/product/_partials/list/actions-single.html.twig" %}
                        </div>
                    </div>
                </form>
                {# End actions desktop #}
                {# Begin actions mobile #}
                <div class="actions hidden-lg hidden-md">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <form method="post" id="productForm" action="{{ app.url }}/product/route" class="form-inline">
                                <div class="btn-toolbar">
                                    <div class="row">

                                        {% if product.variant[0]['inventory_quantity'] is defined and product.variant[0]['inventory_minimum_quantity'] is defined and
                                        product.variant[0]['inventory_policy'] is defined and (product.variant[0]['inventory_policy'] == 'continue' or
                                        product.variant[0]['inventory_quantity'] > product.variant[0]['inventory_minimum_quantity'] ) %}

                                        {# Begin product quantity #}
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="quantity-input-group">
                                                <label for="add-to-cart-quantity" class="control-label">Qty</label>
                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-neutral btn-remove" type="button"><i class="fa fa-minus"></i></button>
                                                    </div>
                                                    <input id="add-to-cart-quantity" class="form-control" type="text" value="1" maxlength="2" placeholder="1" name="items[{{product.variant[0].id}}]">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-neutral btn-add" type="button"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {# End product quantity #}
                                    </div>
                                    <div class="actions row">
                                        {# Begin buy button #}
                                        <div class="col-sm-12 col-xs-12">
                                            <button type="submit" name="action" value="cart" class="btn btn-cart btn-block">
                                                <i class="fa fa-shopping-cart"></i>
                                                <span>Add to Cart</span>
                                            </button>
                                        </div>
                                        {% endif %}
                                        {# End buy button #}
                                        {% include "/product/_partials/list/buttons-mobile.html.twig" %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                {# End actions mobile #}
                {# Begin social sharing #}
                {% if app.params.social_settings is defined and app.params.social_settings is not empty and (
                    app.params.social_settings["facebook"]["active_like"] == true or
                    app.params.social_settings["facebook"]["active_share"] == true or
                    app.params.social_settings["facebook"]["active_follow_page_button"] == true or
                    app.params.social_settings["twitter"]["active_tweet"] == true or
                    app.params.social_settings["twitter"]["active_follow_page_button"] == true or
                    app.params.social_settings["pinterest"]["active_pin_it"] == true or
                    app.params.social_settings["pinterest"]["active_follow_page_button"] == true or
                    app.params.social_settings["google"]["active_plus_one"] == true or
                    app.params.social_settings["google"]["active_follow_page_button"] == true
                    ) %}
                    <div id="social">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="text">Share this item:</span>
                                {{ social.sharing_buttons(app.params.social_settings, product) }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {# End social sharing #}
                </div>
            </div>
            {# End product details #}
            {# Begin product tabs - desktop #}
            <section id="product-tabs" class="row hidden-md hidden-sm hidden-xs">
                <div class="col-lg-12">
                    {# Begin tabs nav #}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-tabs">
                                <ul class="nav nav-tabs">
                                    {% if product.description is not empty %}
                                    <li class="active">
                                        <a href="#description-desktop" data-toggle="tab">Description</a>
                                    </li>
                                    {% endif %}
                                    <li {% if product.description is empty %}class="active"{% endif %}>
                                        <a href="#reviews-desktop" data-toggle="tab">Reviews</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {# End tabs nav #}
                    {# Begin tab pane #}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                {# Begin product description #}
                                {% if product.description is not empty %}
                                {% set full_description = parent.description != product.description ? parent.description ~ product.description : product.description %}
                                <div id="description-desktop" class="tab-pane fade in active">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            {{full_description}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {# Begin reviews #}
                                <div id="reviews-desktop" class="tab-pane fade {% if product.description is empty %}active{% else %}in{% endif %}">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            {% include "/product/_partials/reviews.html.twig" %}
                                        </div>
                                    </div>
                                </div>
                                {# End reviews #}
                                {# End product description #}
                            </div>
                        </div>
                    </div>
                    {# End tab pane #}
                </div>
            </section>
            {# Begin product tabs - desktop #}
        </section>
        {# End Product Details #}
    </div>
    {# Begin product tabs - mobile #}
    <section id="product-tabs-mobile" class="row hidden-lg">
        <div class="col-md-12">
            {# Begin tabs nav #}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#description-mobile" data-toggle="tab">Description</a>
                            </li>
                            <li>
                                <a href="#reviews-mobile" data-toggle="tab">Reviews</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {# End tabs nav #}
            {# Begin tab pane #}
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        {# Begin product description - mobile #}
                        {% set full_description = parent.description != product.description ? parent.description ~ product.description : product.description %}
                        <div id="description-mobile" class="tab-pane fade in active">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {{full_description}}
                                </div>
                            </div>
                        </div>
                        {# End product description #}
                        {# Begin reviews - mobile #}
                        <div id="reviews-mobile" class="tab-pane fade">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% include "/product/_partials/reviews.html.twig" %}
                                </div>
                            </div>
                        </div>
                        {# End reviews #}
                    </div>
                </div>
            </div>
            {# End tab pane #}
        </div>
    </section>
    {# End product tab - mobile #}
</div>
