{# Begin promo slider #}
        <div id="slider-promo-main" class="carousel slide">
            {# Begin slider indicators #}            
            {# <ol class="carousel-indicators">
                <li class="active" data-target="#slider-promo-main" data-slide-to="0"></li>
            </ol>
            
            {# End slider indicators #}
            {# Begin wrapper for slides #}
            <div class="carousel-inner">
                <div class="item active">
                    <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" class="visible-xs" src="{{ app.url_asset }}/images/promo-slider/promo-01-xs.jpg" alt="Grand Re-Opening - 50% off Sale Items">
                    <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" class="visible-sm" src="{{ app.url_asset }}/images/promo-slider/promo-01-sm.jpg" alt="Grand Re-Opening - 50% off Sale Items">
                    <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" class="visible-md" src="{{ app.url_asset }}/images/promo-slider/promo-01-md.jpg" alt="Grand Re-Opening - 50% off Sale Items">
                    <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" class="visible-lg" src="{{ app.url_asset }}/images/promo-slider/promo-01-lg.jpg" alt="Grand Re-Opening - 50% off Sale Items">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            {# End wrapper for slides #}
            {# Begin slider controls #}
                {#
                <a class="left carousel-control" href="#slider-promo-main" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#slider-promo-main" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                #}
            {# End slider controls #}
        </div>
        {# End promo slider #}